
#topbar {
    width: 100%;
    margin: 0;
}
#highscores {
    float: left;
    margin: 0;
} 
#timer {
    float: right;;
}
#container {
 margin: 30px auto; 
 float: none;
 text-align: center;
}
h1, #intro {
    text-align: center;
}
button {
    background-color: purple;
    color: white;
    border-radius: 5px;
}
li {
    background-color: violet;
}
li:nth-child(even) {
    background-color: white;
}
